<%# ログイン %>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email %><br>
  <br>

  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <br>

  <%= f.submit 'ログイン', class: "btn btn-primary" %><br>
  <br>
<% end %>

<%= link_to 'ゲストログイン（一般）', users_guest_sign_in_path, method: :post, class: "btn btn-outline-primary" %>
<br><br>
<%= link_to 'ゲストログイン（管理者）', users_guest_admin_sign_in_path, method: :post, class: "btn btn-outline-primary" %>
<br><br>
<p><%= link_to '新しいアカウントを作る', new_user_path, class: "text-primary"%></p>
<br>
<p><b><%= link_to '使い方を見る', instructions_path, class: "text-primary"%></b></p>