<%# ログイン %>
<div class="form_side add_pading_top signin">
  <div class = "form_center">
    <div class = "signin_frame form_center">
      <h1><%= t('.title') %></h1>
      <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
        <table>
          <tr>
            <td><%= f.label :email %></td>
            <td><%= f.email_field :email, class: "text_area" %></td>
          </tr>
          <tr>
            <td><%= f.label :password %></td>
            <td><%= f.password_field :password, class: "text_area" %></td>
          </tr>
          <tr>
            <td colspan="2"><%= f.submit t('.signin'), class: "btn btn-primary" %></td>
          </tr>
        </table>
      <% end %>
      <br>
      <p><%= link_to t('.new_account'), new_user_path, class: "text-primary"%></p>
    </div>

    <div class = "gest">
      <%= link_to t('.gest_signin'), users_guest_sign_in_path, method: :post, class: "btn btn-outline-primary gest_bottun" %>
      <br><br>
      <%= link_to t('.gest_admin_signin'), users_guest_admin_sign_in_path, method: :post, class: "btn btn-outline-primary gest_bottun" %>
      <br>
    </div>
  </div>

  <div class = "right_side concept">
    <h2><%= t('.concept_title')%></h2>
    <p><%= simple_format(t('.consept_comment'))%></p>
    <br>
      <p><b><%= link_to t('.how_to'), instructions_path, class: "text-primary gest_bottun"%></b></p>
  </div>
</div>