<%= form_with(model: @task_form.task, local: true, url: choose_new_or_edit) do |form| %>
  <% if @task_form.task.errors.any? %>
    <div id="error_explanation" class = "text-danger">
      <!--<h2><%= @task_form.task.errors.count %>件のエラーがあります。</h2>-->
      <ul>
      <% @task_form.task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%# 画像認証機能 %>
  <%= javascript_pack_tag 'tasks/_form' %>
  <!-- テーブル作成 -->
  <table>
    <tr><!-- 画像 -->
      <td colspan="2" class = "task_key text-black-50">
        <%= form.label :image %><br>
        <%= form.file_field :image, capture: "environment", accept: "image/*", class: "image_size_default" %>
      </td>
    </tr>
    <tr><!-- タスクのタイトル -->
      <td class = "center">
      <!-- <%= form.label :done, class: "task_key text-black-50" %><br> -->
        <%= form.check_box :done %>
      </td>
      <td>
        <%= form.label :title, class: "task_key text-black-50" %><br>
        <%= form.text_field :title, class: "text_area task_value" %>
      </td>
    </tr>
    <tr><!-- メモ -->
      <td colspan="2">
        <%= form.label :note, class: "task_key text-black-50" %><br>
        <%= form.text_area :note, class: "text_area  task_value"%>
      </td>
    </tr>
    <tr><!-- 納期 -->
      <td colspan="2">
        <%= form.label :deadline_on, class: "task_key text-black-50" %><br>
        <%= form.date_field :deadline_on %></td>
    </tr>
    <!---------- 編集時 ---------->
    <%if @task_form.task.id %>
    <tr><!-- 取引先 -->
      <td colspan="2">
        <div class = "task_key text-black-50"><%= t('task_form.crient.name') %></div>
        <%= text_field_tag 'task[clients][name]',  @task_form.client&.name, class: "text_area  task_value" %>
      </td>
    </tr>
    <tr><!-- 作業工程 -->
      <td colspan="2">
        <div class = "task_key text-black-50"><%= t('task_form.type_of_task.name') %></div>
        <%= text_field_tag 'task[type_of_tasks][name]',  @task_form.type_of_task&.name, class: "text_area  task_value" %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <!-- 作業量 -->
        <div class = "working_process_side">
          <div>
            <div class = "task_key text-black-50"><%= t('task_form.working_process.workload') %></div>
            <%= number_field_tag 'task[working_process][workload]',  @task_form.working_process&.workload, class: "text_area task_value_short" %>
          </div>
          <!-- 作業時間 -->
          <div>
            <div class = "task_key text-black-50"><%= t('task_form.working_process.working_hour') %></div>
            <%= number_field_tag 'task[working_process][working_hour]',  @task_form.working_process&.working_hour, class: "text_area task_value_short" %>
          </div>
          <div class = "time_unit">
            <%= select_tag 'task[working_process][unit]',  options_for_select(WorkingProcess.units_i18n.invert, @task_form.working_process&.unit) %>
          </div>
        </div>
      </td>
    </tr>
    <% else %>
    <!---------- 新規作成時 ---------->
    <tr><!-- 取引先 -->
      <td colspan="2">
        <%= form.fields_for :clients do | clients_form | %>
          <div class = "task_key text-black-50"><%= t('task_form.crient.name') %></div>
          <%= clients_form.text_field :name, class: "text_area  task_value" %>
        <% end %>
      </td>
    </tr>
    <tr><!-- 作業工程 -->
      <td colspan="2">
        <%= form.fields_for :type_of_tasks do | type_of_tasks_form | %>
          <div class = "task_key text-black-50"><%= t('task_form.type_of_task.name') %></div>
          <%= type_of_tasks_form.text_field :name, class: "text_area  task_value" %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= form.fields_for :working_process do | working_processes_form | %>
          <!-- 作業量 -->
          <div class = "working_process_side">
            <div>
              <div class = "task_key text-black-50"><%= t('task_form.working_process.workload') %></div>
              <%= working_processes_form.number_field :workload, class: "text_area task_value_short" %>
            <!-- 作業時間 -->
            </div>
            <div>
              <div class = "task_key text-black-50"><%= t('task_form.working_process.working_hour') %></div>
              <%= working_processes_form.number_field :working_hour, class: "text_area task_value_short" %>
            </div>
            <div class = "time_unit">
              <%= working_processes_form.select(:unit, WorkingProcess.units_i18n.invert, {}, include_blank: true) %> 
            </div>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>

  <div id="img_field">
    <% if @task_form.task.image.present? %>
      <%= image_tag(@task_form.task.image.url) %>
    <% else %>
      <i class="fas fa-images"></i>
    <% end %>
  </div>
  
   <div class = "center"><%= form.submit class: "btn btn-primary bottun" %></div>
<% end %>