<%= link_to '<戻る', calendar_tasks_path, class: "browser_back" %>
<div class="page_title">
  <p>マイページ</p>
</div>

<p class="icon_size_default"><%= image_tag default_img(@user.icon&.url) %></p>
<p><%= @user.name %></p>
<p>メールアドレス: <%= @user.email %></p>

<%= link_to '編集', edit_user_path(@user.id), class: "btn btn-outline-primary" %><br>
<br>