<h1>工程 - 一覧</h1>

<%= link_to '新規作成', new_type_of_task_path %>

<ul>
  <% @type_of_tasks.each do | type_of_task | %>
    <li>
      <%= link_to type_of_task.name, type_of_task_path(type_of_task.id), class: "btn btn-outline-primary" %>
      <%= link_to '編集', edit_type_of_task_path(type_of_task.id) %>
      <%= link_to '詳細', type_of_task_path(type_of_task.id) %>
      <%= link_to '削除', type_of_task_path(type_of_task.id), method: :delete ,data: { confirm: '本当に削除してよろしですか？'}, class: "btn btn-outline-danger" %>
    </li>
  <% end %>
</ul>