<!DOCTYPE html>
<html>
  <head>
    <title>TaskManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <%# 仮配置 %>
    </div>
    <div class = "login text-right col-sm mt-3">
      <%# ログインしていいるか否かで表示を変える %>
    <% if logged_in? %>
      <%# ログインしている時：プロフィールとログアウトボタン表示 %>
      <%= link_to "Profile", user_path(current_user.id), class: "btn btn-outline-secondary"%>
      <%= link_to "Logout", session_path(current_user.id), method: :delete, class: "btn btn-outline-danger" %>
    <% else %>
      <%# ログアウトしている時：サインアップとログインボタン表示 %>
      <%= link_to "Sign up", new_user_path, class: "btn btn-outline-primary"%>
      <%= link_to "Log in", new_session_path, class: "btn btn-outline-primary"%>
    <% end %>
    </div>

    <%= yield %>
  </body>
</html>
